html {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fefefe;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.app {
    height: 100%;
    width: 100%;
    text-align: center;
}
h2 {
    margin-block-start: 0%;
    margin-block-end: 0%;
}
.app-header {
    background-color: #222222;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 4vmin;
    z-index: 25;

}
.app-body {
    height: 100%;
    width: 100%;
}

